:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #181825;
  --color-bg-base: #1E1E2E;
  --color-bg-surface: #242437;
  --color-bg-highlight: #2A2A40;
  --color-fg-shade: #839AE4;
  --color-fg-base: #CDD6F4;
  --color-fg-surface: #FFFFFF;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #11111b;
  --color-primary-base: #B4BEFE;
  --color-primary-fg: #B4BEFE;
  --color-secondary-bg: #181825;
  --color-secondary-base: #F38BA8;
  --color-secondary-fg: #F38BA8;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Hack Nerd Font;
  --font-size: 1;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1100px;
  --surface-shadow: 12px 12px 0px rgb(17, 17, 27), 24px 24px 0px rgb(24, 24, 37);
  --surface-borderRadius: 20px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 4;
}
